node_modules/
dist/
package-lock.json
yarn.lock
.vite.config
.vite.config.js
.vite.config.ts
.env
*.class
*.py[cod]
*.log
*.jar
target/
dist/
.idea/
TEST*.xml
.DS_Store
Thumbs.db
*.app
*.exe
*.war
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
