@import "../../styles/center.scss";

.container {
    max-width: 100%;
    @include alignItemsCenterSBG();

    &__widget__first {
        max-width: 50%;
        @include justifyStart();
        img {
            max-width: 80%;
            border-radius: 10px;
        }
    }
    &__widget__second {
        max-width: 50%;
    }
}

@media only screen and (max-width: 1024px) {
    .container {
        max-width: 100%;
        @include alignItemsCenterSBG_Mobile();

        &__widget__first {
            max-width: 100%;
            img {
                max-width: 100%;
            }
        }
        &__widget__second {
            max-width: 100%;
        }
    }
}
