@import "../../styles/center.scss";

.c-container {
    max-width: 100%;
    @include alignItemsCenterSBG();

    &__first-widget {
        max-width: 50%;
        @include justifyStart();
        img {
            max-width: 80%;
            border-radius: 10px;
        }
    }
    &__second-widget {
        max-width: 50%;

        h3 {
            color: #333;
        }
        p {
            font-size: 1rem;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .c-container {
        max-width: 100%;
        @include alignItemsCenterSBG_Mobile();

        &__first-widget {
            max-width: 100%;
            img {
                max-width: 100%;
            }
        }
        &__second-widget {
            max-width: 100%;
        }
    }
}
