@import "../../styles/box-shadow.scss";
@import "../../styles/center.scss";

.c-contentbox {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    @include boxShadowAll();
    background-color: #fff;

    &__sub {
        @include alignItemsCenter();
        span {
            font-size: 12px;
            font-weight: 600;
            color: #333;
        }
    }
    h2,
    h3 {
        line-height: 1;
    }
    h3 {
        color: chocolate;
        font-weight: 600;
    }
}
