@import "../../styles/center.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.c-logoarea {
    @include alignItemsCenter();
    gap: 10px;
    padding: 5px 10px;
    color: #fff;
    font-weight: 600x;
    font-size: 1.1rem;
    white-space: nowrape;
    font-family: "Open Sans", sans-serif;

    img {
        scale: 2;
    }
}

@media only screen and (max-width: 768px) {
    .c-logoarea {
        padding: 0px;
        gap: 5px;   
        span {
            font-size: 14px;
        }
    }

}