@import "../../styles/box-shadow.scss";
@import "../../styles/center.scss";
@import "../../styles/translation.scss";

.c-content {
    border: 1px solid #001628;
    padding: 50px;
    border-radius: 10px;
    @include boxShadowAll();
    @include transition();
    background-color: #001628;
    width: 30%;
    height: 60%;
    color: #fff;
    opacity: 0.9;
    h5 {
        color: #ffe4b5;
        font-weight: bold;
    }
    p {
        border: 1px solid #ffe4b5;
        display: inline;
        padding: 5px;
    }
}

.c-content:hover {
    scale: 1.05;
}
@media only screen and (max-width: 1024px) {
    .c-content {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
}

