@import "../../styles/center";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.c-pagetitle {
  @include alignItemsCenterEnd();
  gap: 10px;
  font-size: 20px;
  font-weight: 700;
  margin: 0px 10px 10px;
  font-family: "Open Sans", sans-serif !important;
  text-transform: capitalize;
  &__icon{
    fill: #333;
  }
}

@media only screen and (max-width: 768px){
  .c-pagetitle {
  @include justifyStart();
  color: #fff;
  font-size: 14px;
  margin: 0 auto !important;
  }
}
