@import "../../styles/center";

.c-pageTitle {
  font-size: 20px;
  font-weight: 700;
  margin: 0px 5px 10px;
  font-family: "Kode Mono";
  text-transform: capitalize;
  text-decoration: underline;
}
