@import "../../styles/center";

.c-pagetitle {
  @include alignItemsCenterEnd();
  gap: 10px;
  font-size: 20px;
  font-weight: 700;
  margin: 0px 10px 10px;
  font-family: "Kode Mono";
  text-transform: capitalize;
  &__icon{
    fill: chocolate;
  }
}

@media only screen and (max-width: 768px){
  .c-pagetitle {
  @include justifyStart();
  color: #fff;
  font-size: 14px;
  margin: 0 auto !important;
  }
}
