// -----------------------------------------------------------------------------
// Theme Color
// -----------------------------------------------------------------------------

//Primary Colors
$white: #fff !default;
$blue: #009cfb !default;
$green: #00ae42 !default;
$onyx: #3a3a3c !default;
$gray: #7B7B7B !default;
$black: #000 !default;

// Blue
$alice-blue: #f5fcff !default;
$alice-blue-v2: #eef9ff !default;
$columbia-blue: #96d6f8 !default;
$columbia-bluev2: #a7dcfd !default;
$columbia-bluev3: #c7e4f1 !default;
$cerulean: #006caf !default;
$dark-cerulean: #0b476f !default;
$ship-cove: #768bac !default;
$cyan-blue-azure: #4879c4 !default;
$aero: #7dc2ec !default;
$spindle: #b4c6d5;
$cadet-blue: #a8bac6;
$azureish-white: #e1f0f8;
$bleu-de-france: #308af3;
$yinmn-bleu: #334e8d;
$vivid-cerulean: #00a2ea;
$vivid-ceruleanv2: #02A5FE;
$vivid-ceruleanv3: #00aced;
$honolulu-blue: #0070ac;
$electric-blue: #58f4ff;
$shadow-blue: #6b91ac;
$blue-yonder: #4267b2;

// Green
$ufo-green: #4bca5e;

// White To Black
$matterhorn: #525252 !default;
$spanish-gray: #9a9a9a !default;
$cultured: #f5f5f5 !default;
$gainsboro: #dedede !default;
$davys-grey: #5a5a5a !default;
$chinese-white: #e1e1e1 !default;
$dark-silver: #707070 !default;
$dark-silverv2: #686c76 !default;
$platinum: #e7e7e7 !default;
$platinumv2: #e6e6e6 !default;
$chinese-black: #101010 !default;
$philippine-gray: #888c8d !default;
$auro-metal-saurus: #6f787c !default;
$bright-gray: #efefef !default;
$anti-flash-white: #f2f1f1 !default;
$anti-flash-whitev2: #f0f0f0 !default;
$lotion: #fcfcfc !default;
$charleston-green: #2b2b2b !default;
$light-silver: #d8d8d8 !default;
$light-gray: #d5d5d5 !default;
$manatee: #9c9fa8 !default;
$silver-chalice: #acacac !default;
$taupe-gray: #878787 !default;
$grayv2: #7c7c7c !default;
$silver-sand: #c2c2c2 !default;
$sonic-silver: #787878 !default;


// Red
$red: #f43939 !default;
$tulip: #ff7b89 !default;
$brink-pink: #ff6175 !default;

// Orange
$orange: #ff8726 !default;
