.c-viewCv{
    margin-right: 30px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    span{
        color: #fff !important;
        font-weight: 600;
    }
    span:hover{
        font-size: 15px;
        transition: all ease 0.2s;
        text-decoration:underline;
        
    }
}

@media only screen and (max-width: 768px){
    .c-viewCv{
        margin-right: 10px;
        span {
            font-size: 12px;
        }
    }
}