@import "../../../styles/center.scss";

.c-main {
    max-height: 100vh;
    &__header {
        @include alignItemsCenterEnd();
        background: #001628;
        padding: 40px;
    }
    &__side {
        padding: 10px;
        flex: 0 0 200px !important;
        max-width: 200px !important;
        min-width: 200px !important;
        width: 200px !important;
    }

    &__container {
        background: #e5e5e5;
    }
    &__content__area {
        margin: 10px 16px;
        overflow-y: auto;

    }
    &__content__area::-webkit-scrollbar {
        width: 12px;
    }
    &__content__area::-webkit-scrollbar-track {
        background: #001628;
        border-radius: 20px;
    }
    &__content__area::-webkit-scrollbar-thumb {
        background-color: #e5e5e5;
        border: 4px solid #001628;
        opacity: 0.8;
        border-radius: 5px;
    }
    &__content {
        padding: 15px;
        min-height: 75vh;
        border-radius: 10px;
        font-family: "Kode Mono", monospace !important;
        line-height: 2.1;
        font-weight: 500;
    }
    &__footer {
        background-color: #001628;
        color: #e5e5e5;
        font-family: "Kode Mono", monospace !important;
        @include textAlignEnd();
    }
}

@media only screen and (max-width: 768px){
    .c-main {
        &__side {
            width: 0px !important;
            min-width: 0px !important;
            max-width: 0px !important;
        }
        &__hamburger{
            width: 30px;
            height: 30px;
            color: #e5e5e5;
            cursor: pointer;
            position: absolute;
            top: 3%;
            left: 150%;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: start;
        }
    }
}
