@import "../../../styles/center.scss";

.c-main {
    max-height: 100vh;
    &__header {
        @include alignItemsCenterEnd();
        background: #001628;
        padding: 40px;
    }
    &__logo-area {
        @include alignItemsCenter();
        gap: 10px;
        padding: 5px 10px;
        color: #fff;
        font-weight: 600x;
        font-size: 1.1rem;
        white-space: nowrape;
        font-family: "Kode Mono", monospace !important;

        img {
            scale: 2;
        }
    }
    &__side {
        padding: 10px;
    }

    &__container {
        background: #e5e5e5;
    }
    &__content__area {
        margin: 10px 16px;
        overflow-y: scroll;
    }
    &__content__area::-webkit-scrollbar {
        width: 12px;
    }
    &__content__area::-webkit-scrollbar-track {
        background: #001628;
        border-radius: 20px;
    }
    &__content__area::-webkit-scrollbar-thumb {
        background-color: #4d4a4a;
        border: 5px solid #052e50;
    }
    &__content {
        padding: 15px;
        min-height: 75vh;
        border-radius: 10px;
        font-family: "Kode Mono", monospace !important;
        line-height: 2.1;
        font-weight: 500;
    }
    &__footer {
        background-color: #001628;
        color: #e5e5e5;
        font-family: "Kode Mono", monospace !important;
        @include textAlignEnd();
    }
}
