@import "../../styles/center.scss";
@import "../../styles/box-shadow.scss";

.c-stack {
    &__title {
        color: chocolate;
    }
    &__card {
        @include displayCenterDrCol();
        max-width: 95%;
        border-radius: 10px;
        min-height: 70vh;
        cursor: grab;
    }
}

@media only screen and (max-width: 991px){
    .c-stack {
    
        &__card {
            display: flex !important;
        }
    }
}