@import "../../styles/center.scss";
@import "../../styles/box-shadow.scss";

.c-stack {
    &__card {
        @include displayCenterDrCol();
        @include boxShadowAll();
        max-width: 95%;
        border: 1px solid #000;
        border-radius: 10px;
        min-height: 70vh;
        cursor: grab;
        color:#fff;
        background-color: #001628;
        opacity: 0.9;
    }
}

