@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0 auto;
  padding: 0p;
  max-width: 1540px;
  background-color: #001628;
}
.slick-dots li button:before {
  font-size: 14px;
  margin-top: 5px;
}
@media only screen and (max-width: 768px) {
  #root > div > aside > div > ul {
    display: none;
    z-index: 50000 !important;
    width: 200px !important;
    position: absolute !important;
    top: 10% !important;
    gap: 0px !important;
  }
  .ant-layout-footer {
    padding: 24px 30px 24px 10px !important;
  }
}
